.navLink {
   @apply font-medium capitalize transition-all duration-300 relative brightness-125 hover:opacity-60 text-center whitespace-nowrap w-full;
}

.active {
   transform: translateY(-6px);
}

.linkBack {
   transition: all 0.3s;
   transform: translateY(2px) scaleY(0);
   z-index: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 6px;
}

.active > .linkBack {
   transform: translateY(2px) scaleY(1);
}

.active > span {
   z-index: 2;
   position: relative;
}

/* icons Btn  */

.NavIcons {
   @apply relative flex hover:opacity-60 duration-300 transition-all;
}

.NavIcons > .cartImg {
   @apply w-4 sm500:w-5 block transition-all shadow-primaryBlue duration-300;
}

.NavIcons > .FavoritesSvg {
   @apply size-4 sm500:size-5 transition-all duration-300 fill-white;
}

.NavIcons.cartNavBtn.hasItem {
   @apply mr-0.5 sm500:mr-2;
}

.NavIcons.activeIcon > .cartImg {
   @apply rotate-[8deg] scale-110 drop-shadow-[0_0_6px_rgba(59,130,246,0.7)];
}

.NavIcons.activeIcon > .FavoritesSvg {
   @apply fill-primaryBlue scale-110 drop-shadow-[0_0_6px_rgba(59,130,246,0.7)];
}

.NavIconAmount {
   display: none;
   @apply absolute text-[9px] sm500:text-[12px] bg-primaryPink text-white top-0 right-2 px-[5px] sm500:px-[6px] rounded-xl;
}

.hasItem > .NavIconAmount {
   display: block;
   transform: translate(100%, -50%);
   transform-origin: 100% 0%;
}
